<!-- ========================
            Header
============================= -->
<header>
	<!-- navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container" style="max-width: 1024px; margin: auto">
				<a href="index.html"><img src="img/xsolla-logo.png" alt="xsolla" style="padding: 3px" /></a>
				<ul style="float: right; padding-right: 4em">
					<li style="float: right; position: relative; padding: 1em">
						<a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">English<span class="caret"></span></a>
						<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
							<li><a tabindex="-1" href="#">English</a></li>
							<li><a tabindex="-1" href="#">Russian</a></li>
							<li><a tabindex="-1" href="#">Korean</a></li>
							<li><a tabindex="-1" href="#">Chinese</a></li>
						</ul>
					</li>
					<li style="float: right; padding: 1em"><a class="btn btn-link" href="https://account.xsolla.com/index.php?a=registrationForm"><i class="icon-plus icon-white"></i> Sign up</a></li>
					<li style="float: right; padding: 1em"><a class="btn btn-link" href="mailto:a.menshikov@xsolla.com"><img src="img/icon-support.png" /> Support</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
