<!-- ========================
            Sidebar
============================= -->
<aside class="visible-desktop">
	<!-- menu -->
	<ul class="sideMenu">
		<li class="{{ page.indexActive }}">
			<a href="index.html">Getting Started</a>
		</li>
		<li class="{{ page.paybarActive }}">
			<a href="paybar.html">PayBar</a>
		</li>
		<li class="{{ page.paystationActive }}">
			<a href="paystation.html">Paystation</a>
		</li>
		<li class="{{ page.currencyActive }}">
			<a href="currency.html">Virtual Currency Protocol</a>
		</li>
		<li class="{{ page.cashActive }}">
			<a href="cash.html">Cash Protocol</a>
		</li>
	</ul>
</aside>
